<div class="container">
  <h1>POC - Pipes do Angular</h1>


  <!-- Pipes Nativos -->
  <section class="section">
    <h2>Pipes Nativos</h2>
    <div>
      <p><strong>Data atual sem uso de pipe:</strong></p>
      <p>Data Atual: {{ dataAtual }}</p>
      <p><strong>Data atual com o uso de pipe:</strong></p>
      <p>Data Atual: {{ dataAtual | date:'fullDate' }}</p>

      <p><strong>Quantia sem uso de pipe:</strong></p>
      <p>Quantia: {{ quantia }}</p>
      <p><strong>Quantia com o uso de pipe:</strong></p>
      <p>Quantia em dólares: {{ quantia | currency:'USD' }}</p>
      <p>Quantia em reais: {{ quantia | currency:'BRL' }}</p>

      <p><strong>Objeto sem o uso de pipe:</strong></p>
      <!-- Teste interessante quando tenta se passar objetos -->
      <p>Programa utilizado: {{ programa }}</p>
      <p><strong>Objeto com o uso de pipe:</strong></p>
      <p>Programa utilizado: {{ programa | json}}</p>
    </div>
  </section>


  <!-- Pipes Personalizados -->
  <section class="section">
    <h2>Pipes Personlizados</h2>
    <div>
      <p><strong>Texto sem o uso do pipe capitalize</strong></p>
      <p>Texto: {{ texto }}</p>
      <p><strong>Texto com o uso do pipe capitalize</strong></p>
      <p>Texto: {{ texto | capitalize }}</p>

      <p><strong>Número sem o uso do pipe triple</strong></p>
      <p>Texto: {{ numero }}</p>
      <p><strong>Número sem o uso do pipe triple</strong></p>
      <p>Texto: {{ numero | triple }}</p>
    </div>
  </section>

  <!-- Pipes Personalizados - impuros -->
  <section class="section">
    <h2>Pipes Personlizados - Impuros</h2>
    <div>
      <p><strong>Numero aleatório gerado pelo pipe impuro</strong></p>
      <p>O numero aleatório é: {{ null | random }}</p>
    </div>
  </section>

</div>
